{% load templatetag %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <nav class="py-4">
            <div id="logo">
                <h1><a href="/" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: pointer; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">КиноАфиша</a>
                </h1>
            </div>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="/">Главная</a></li>
                <li><label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down"
                                                                       aria-hidden="true"></span> </label>
                    <a href="#">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% get_categories as categories %}
                        {% for category in categories %}
                        <li><a href="/{{ category.url }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><label for="drop-2" class="toggle">Жанры<span class="fa fa-angle-down"
                                                                       aria-hidden="true"></span> </label>
                    <a href="#">Жанры<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% get_genres as genres %}
                        {% for genre in genres %}
                        <li><a href="/{{ genre.url }}">{{ genre.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="contact.html"
                       style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вход</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- //header -->
<!--/banner-->